[Desktop Entry]
Type=Application
Name=Cloudplay Settings and Recovery
Exec=cloudplay-settings
Icon=preferences-system
Terminal=false
Categories=Settings;
